<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.rawalinfocom.rcontact">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <permission
        android:name="com.rawalinfocom.rcontact.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.rawalinfocom.rcontact.permission.C2D_MESSAGE"/>


    <application
        android:name=".RContactApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="06e70479d2ac89bbcd0f513bced81e424d0d41f7"/>

        <service android:name=".services.OtpTimerService"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MobileNumberRegistrationActivity"/>

        <activity
            android:name=".CountryListActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>


        <activity android:name=".OtpVerificationActivity"/>

        <activity android:name=".BaseActivity"/>

        <activity android:name=".ProfileRegistrationActivity"/>

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>


    </application>

</manifest>